# Set default permissions for all video devices
ACTION=="add", SUBSYSTEM=="video4linux", GROUP="video", MODE="0660"

# Create symlinks and set permissions for specific cameras
KERNEL=="video*", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="32e4", ATTRS{idProduct}=="0415", SYMLINK+="camera_4k", GROUP="video", MODE="0660", TAG+="camera_access"
KERNEL=="video*", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="32e4", ATTRS{idProduct}=="0577", SYMLINK+="camera_1080p", GROUP="video", MODE="0660", TAG+="camera_access"
