[Unit]
Description=Camera Binding Service
After=multi-user.target

[Service]
Type=simple
User=root
#delete this
#ExecStartPre=/usr/local/bin/camera-setup.sh
ExecStart=/usr/bin/python3 /home/zignage/camera_binder/camera_binder.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
